/* styles.css */
.clients-table {
  min-width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 3rem;
  border-radius: 50px;
}

.clients-table td {
  padding: 1rem;
  text-align: center;
}

.clients-table td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.clients-table .icon {
  cursor: pointer;
}

.clients-table th {
  background-color: #f1f1f1;
  padding: 1rem 0;
}

.clients-table tbody tr {
  border-bottom: 1px solid #52475C;
}

.clients-table tbody tr:hover {
  background-color: #e0e0e0; /* Use a suitable color */
  color: #333; /* Use a suitable color */
}

@media (max-width: 768px) {
  .clients-table {
    width: 100%;
  }
}
