/* LayoutContainer.css */
.layout-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh;
  grid-gap: 10px; /* Adicione um espaço entre os itens, se desejar */
}

@media (max-width: 1080px) {
  .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "main";
  }
}

/* HeaderPage.css */
.header-page {
  grid-area: header;
  background-color: yellow;
}

/* AsideNavibar.css */
.aside-navibar {
  grid-area: aside;
  position: fixed; /* Fixe o menu lateral na tela */
  height: 100%;
}

/* Main.css */
.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
  }
}

/* MobileContainer.css */
.mobile-container {
  display: none;
}

@media (max-width: 1080px) {
  .mobile-container {
    display: block;
  }
}
